<a href="{{ include.member.link }}">
	<div class="square-image"><img src="{% include relative-src.html src=include.member.image_path %}" alt="{{ include.member.name }}"/></div>
	<div class="details">
		<div class="name">{{ include.member.name }}</div>
		<div class="position">{{ include.member.position }}</div>
	</div>
</a>
