---
title: Projets
layout: default
permalink: en/projets/
ref: projets
lang: en
---

<section class="diagonal hero">
	<div class="container">
		<h2 class="editable">Our Projects</h2>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container">
		<ul class="image-grid">
			{% assign _projets = site.projets | where: "lang", "en" | where: "projets_page", "true" | sort: 'order' %}
			{% for projet in _projets %}
				<li>
					<a href="{{ site.baseurl }}{{ projet.url }}">
						<img src="{% include relative-src.html src=projet.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ projet.name }}</div>
							<div class="position">{{ projet.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
		</ul>

			<h3>For care: InterHop wants to de-globalize digital health</h2>
		<p class="subtext editable">
interHop.org takes over the ideas of <a href="https://framasoft.org">Framasoft.org</a> and <a href="https://chatons.org">CHATONS.org</a>.

		</p>

		<p class="subtext editable">
 In the field of health care, our objectives are therefore : 
			<ul>
<li>Offer decentralized, transparent and ethical hosting services certified for health</li>
<li>Create a transparent and ethical framework of trust around data. We are therefore committed to protecting your health data so that trust and secrecy between patients and caregivers are preserved</li>
<li>To inform users - patients and caregivers - about the challenges of open source software and health data</li>
<li>To be a network of relevant projects for health via alternative and efficient IT solutions</li>
			</ul>
		</p>

		<p class="subtext editable">
 For health professionals and patients, the association InterHop.org installs and creates alternative and efficient solutions dedicated to health. InterHop.org develops digital tools for data collection or online appointment scheduling software. InterHop.org installs software for video-conferencing, instant messaging or encrypted document sharing. 
		</p>

	<br />
			<h3>InterHop easy access to law</h2>
		<p class="subtext editable">
 Very concretely, InterHop.org provides multiple tools to understand the law and the regulatory issues of health data. 
We are working for a full and complete application of the RGPD. 
InterHop therefore provides a legal and technical watch, a Frequently Asked Questions as well as standard letters. 

		</p>

	</div>

</section>








<section class="diagonal patterned">

	<div class="container">
			<h3>InterHop wants to change the law and enforce the law</h2>
		<p class="subtext editable">
 InterHop's advocacy activities will enable the emergence of concrete proposals at a national and European level. 
Our aim is to act in favor of a maximum protection of health data, to spread the culture of free access, and the idea of decentralization and transparency on digital tools. 
		</p>
		<p><a class="button alt" href="{{ site.baseurl }}/en/projets/actions-en-justice">Our Advocacy and Legal Actions</a></p>

	</div>
</section>


<section class="diagonal">
	<div class="container">

			<h3>Developers, let's collaborate!</h3>
		<p class="subtext editable">

 The online services we offer are free, ethical and decentralized. They allow users⋅rices to quickly find alternatives that respect their data and privacy to the services offered by the GAFAMs (Google, Apple, Facebook, Amazon, Microsoft). 
		</p>

		<p class="subtext editable">
 The interHop.org association develops tools such as <a target="_blank" href=https://goupile.fr>Goupile</a>, a digital data collection form, or decentralized appointment scheduling software such as <a target="_blank" href="https://toobib.org">Toobib</a>.
		</p>
		<p><a href="{{ site.baseurl }}/en/projets/collaborons">List of projects under development within InterHop &rarr;</a></p>
<!--
		<p><a href="{{ site.baseurl }}/profes">Annuaire des logiciels open-sources en santé &rarr;</a></p>
		<p><a href="{{ site.baseurl }}/profes">Tu es ingénieur, rejoins-nous &rarr;</a></p>
-->

</section>
