---
title: Projets
subtitle: dégooglisons la santé
layout: default
permalink: projets/
ref: projets
lang: fr
---

<section class="diagonal hero">
	<div class="container">
		<h2 class="editable">Nos Projets</h2>
<!--
-->
	</div>
</section>

<section class="diagonal alternate">
	<div class="container">
		<ul class="image-grid">
			{% assign _projets = site.projets | where: "lang", "fr" | where: "projets_page", "true" | sort: 'order' %}
			{% for projet in _projets %}
				<li>
					<a href="{{ site.baseurl }}{{ projet.url }}">
						<img src="{% include relative-src.html src=projet.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ projet.name }}</div>
							<div class="position">{{ projet.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
		</ul>

			<h3>Pour le soin : InterHop veut dégoogliser la santé numérique</h2>
		<p class="subtext editable">
interHop.org reprend à son compte les idées de <a href="https://framasoft.org">Framasoft.org</a> et des <a href="https://chatons.org">CHATONS.org</a>.

		</p>

		<p class="subtext editable">
Dans le domaine de la santé, nos objectifs sont donc :
			<ul>
<li>Proposer des hébergements décentralisés, transparents et éthiques certifiés pour la santé</li>
<li>Créer un cadre associatif de confiance transparent et éthique autour des données. Nous nous engageons donc à protéger vos données de santé pour que la confiance et le secret entre les patients et les soignants soient préservés</li>
<li>D'informer les usagers - soigné.e.s et soignant.e.s - sur les enjeux du logiciel libre et des données en santé</li>
<li>Etre un réseau de projets pertinents pour la santé via des solutions informatiques alternatives et efficaces</li>
			</ul>
		</p>

		<p class="subtext editable">
Pour les professionnels de santé et les patients, l'association InterHop.org installe et crée des solutions alternatives et efficaces dédiées à la santé. InterHop.org développe des outils numériques de recueil de données ou des logiciels de prise des rendez-vous en ligne. InterHop.org installe des logiciels de visio-conférence, de messagerie instantanée ou de partage chiffré de documents.
		</p>

	<br />
			<h3>InterHop facilite l'accès au droit</h2>
		<p class="subtext editable">
Très concrètement InterHop.org fournit de multiples outils pour comprendre le droit et les enjeux réglementaires des données de santé.
Nous oeuvrons pour une pleine et entière application du RGPD.
InterHop fournit donc une veille juridique et technique, une Foire aux Questions ainsi que des courriers types.
		</p>

		<p class="subtext editable">
Il est possible de contacter la Déléguée à la Protection des Données à <a href="mailto:dpo-interhop@riseup.net">dpo-interhop@riseup.net</a>.
		</p>

	</div>

</section>








<section class="diagonal patterned">

	<div class="container">
			<h3>InterHop veut faire changer la loi et appliquer le droit</h2>
		<p class="subtext editable">
InterHop dans le cadre de ses activités de plaidoyer permettra l'émergence de propositions concrètes à un niveau national et européen.
Il s'agit pour nous d'agir en faveur d'une protection maximale des données de santé, de diffuser la culture du libre, et l'idée de décentralisation et de transparence sur les outils numériques.
		</p>
		<p><a class="button alt" href="{{ site.baseurl }}/projets/actions-en-justice">Nos plaidoyers et actions en justice</a></p>

	</div>
</section>


<section class="diagonal">
	<div class="container">

			<h3>Développeurs, collaborons !</h3>
		<p class="subtext editable">
Les services en ligne que nous proposons sont libres, éthiques et décentralisés. Ils permettent aux utilisateur⋅rices de trouver rapidement des alternatives respectueuses de leurs données et de leur vie privée aux services proposés par les GAFAMs (Google, Apple, Facebook, Amazon, Microsoft).
		</p>

		<p class="subtext editable">
L'association interHop.org développe des outils comme <a target="_blank" href=https://goupile.fr>Goupile</a>, formulaire numérique de recueil de données ou des logiciels décentralisés de prise de rendez-vous comme <a target="_blank" href="https://toobib.org">Toobib</a>.
		</p>
		<p><a href="{{ site.baseurl }}/projets/collaborons">Liste des projets en cours de développement au sein d'InterHop &rarr;</a></p>
<!--
		<p><a href="{{ site.baseurl }}/profes">Annuaire des logiciels open-sources en santé &rarr;</a></p>
		<p><a href="{{ site.baseurl }}/profes">Tu es ingénieur, rejoins-nous &rarr;</a></p>
-->

</section>
